<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <%= debug(request.authorization) if Rails.env.development? %>
      <%= debug(request.fullpath) if Rails.env.development? %>
      <%= debug(request.media_type) if Rails.env.development? %>
      <%= debug(request.query_parameters) if Rails.env.development? %>
      <%= debug(request.server_software) if Rails.env.development? %>
      <%= debug(request.uuid) if Rails.env.development? %>
    </div>
  </body>
</html>
